@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');

* {
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    margin: 0;
}

body {
    background-color: #e0e0e0;
}

.content {
    margin-left: auto;
    margin-right: auto;
    width: 425px;
    height: 690px
}

.calculator {
    border-radius: 7px;
    background-color: #b6bfc4;
    margin: 15px;
    padding-top: 15px;
}

.calc {
    height: 40%;
    padding-inline: 15px;
    font-size: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.calc p {
    width: 100%;
    text-align: right;
}

.result {
    height: 60%;
    padding-inline: 15px;
    font-size: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.result p {
    width: 100%;
    text-align: right;
}

.display {
    height: 140px;
    margin: 15px;
    border-radius: 7px;
    background-color: #597b8c;
}

.input {
    border-radius: 7px;
    background-color: #b6bfc4;
    height: 463px;
    width: 370px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    grid-template-areas: 
    "ac ac del divid"
    "seven eight nine mult"
    "four five six minus"
    "one two three plus"
    "dec zero equal equal"
    ;
}

.btn {
    font-size: 24px;
    margin: 2px;
    border-width: 1px;
    border-radius: 5px;
    border-color: #b6bfc4;
    cursor: pointer;
    background-color: #99bbcf;
}

.btn:active {
    background-color: #64a8cf;
}

.func {
    background-color: #5cb1e2;
}

.func:active {
    background-color: #2c91cc;
}

.operator {
    background-color: #6d9ab4;
    font-size: 40px;
    font-weight: 400;
}

.operator:active {
    background-color: #478bb3;
}







#ac {
    grid-area: ac;
}

#divid {
    grid-area: divid;
}

#mult {
    grid-area: mult;
}

#minus {
    grid-area: minus;
}

#plus {
    grid-area: plus;
}

#dec {
    grid-area: dec;
}

#del {
    grid-area: del;
}

#equal {
    grid-area: equal;
    font-size: 40px;
    font-weight: 400;
}

#one {
    grid-area: one;
}

#two{
    grid-area: two;
}

#three {
    grid-area: three;
}

#four {
    grid-area: four;
}

#five {
    grid-area: five;
}

#six {
    grid-area: six;
}

#seven {
    grid-area: seven;
}

#eight {
    grid-area: eight;
}

#nine {
    grid-area: nine;
}

#zero {
    grid-area: zero;
}